* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#idoso{
    background-image: url(../Fotos/idosos.jpg);
    height: 442px;
    width: 58%;
}

#cuidador{
    background-image: url(../Fotos/cuidador.jpg);
    background-position-x: -175px;
    height: 442px;
    width: 58%;
}

.field{
    border: 1px solid white;
    border-radius: 25px;
    margin: 30px auto;
}

legend{
    background-color: white;
    border-radius: 80px;
    width: 120px;
    height: 25px;
    text-align: center;
}

input[type="text"]{
    padding: 5px 5px 5px 15px;
    border:1px solid black;
    border-radius: 4px;
    text-align: center;
}

button{
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.loginss{
    position: relative;
    top: 30px;
    left: 20px;
}

button{
    text-align: center;
    font-size: 15px;
    background-color: #CAD9C2 ;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    width: 150px;
}