body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #B9FFE6;
}

#logo{
    float: left;
    margin: 0% 1%;
}

header{
    font-family: 'Inter', sans-serif;
    border: 3px solid #36A1FF;
    background-color: #36A1FF;
    color: #fff;
    width: 100%;
}

nav ul{
    color: #fff;
}

nav ul li{
    color: #fff;
    margin: 0 20px;
    display: inline;
    position: relative;
}

nav{
    color: #fff;
    margin-right: 150px;
    text-align: right;
}

/*Menu Drop Down */
nav ul ul{
    color: #fff;
    background-color: #36A1FF;
    display: none;
    position: absolute;
    left: -40%;
    width: 200px;
    text-align: left;
}

nav ul li #conEpri{
    line-height: 20px;
}

nav ul li:hover ul{
    display: block;
    line-height: 35px;
}

nav ul ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    transition: backgroubd .3s;
}
/* */


a{
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #F09D1A;
}

#idoso{
    background-image: url(../Fotos/idosos.jpg);
    height: 442px;
    width: 45%;
}

#cuidador{
    background-image: url(../Fotos/cuidador.jpg);
    background-position-x: -175px;
    height: 442px;
    width: 45%;
}

.field{
    border: 1px solid white;
    border-radius: 25px;
    margin: 30px auto;
}

legend{
    background-color: white;
    border-radius: 80px;
    width: 120px;
    height: 25px;
    text-align: center;
}

input[type="text"]{
    padding: 5px 5px 5px 15px;
    border:1px solid black;
    border-radius: 4px;
    text-align: center;
}

button{
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.loginss{
    position: relative;
    top: 30px;
    left: 20px;
}

button{
    text-align: center;
    font-size: 15px;
    background-color: #CAD9C2 ;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    width: 150px;
}

footer{
    padding-left: 25px;
    font-family: 'Inter', sans-serif;
    border: 10px solid #1C6491;
    background-color: #1C6491;
    color: #fff;
    column-count: 3;
}

footer li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px;
}

#equipe{
    line-height: 7px;
}

#copiright{
    float: center;
    width: 10%;
}
