body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #B9FFE6;
}

#logo{
    float: left;
    margin: 0% 1%;
}

header{
    font-family: 'Inter', sans-serif;
    border: 3px solid #36A1FF;
    background-color: #36A1FF;
    color: #fff;
    width: 100%;
}

nav ul{
    color: #fff;
}

nav ul li{
    color: #fff;
    margin: 0 20px;
    display: inline;
    position: relative;
}

nav{
    color: #fff;
    margin-right: 150px;
    text-align: right;
}

/*Menu Drop Down */
nav ul ul{
    color: #fff;
    background-color: #36A1FF;
    display: none;
    position: absolute;
    left: -50%;
    width: 200px;
    text-align: left;
}

nav ul li #conEpri{
    line-height: 20px;
}

nav ul li:hover ul{
    display: block;
    line-height: 35px;
}

nav ul ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    transition: backgroubd .3s;
}
/* */


a{
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #F09D1A;
}

form{
    display: inline-block;
    padding: 15px;
    border-color: 2px solid #3385cc;
}

form h2, h3, p{
    color: #135996;
    font-family: 'Battambang', cursive;
}

a :active{
    background-color: rgb(189, 245, 153);
}

p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    cursor: pointer;
    width: 120px;
}

label{
    color: #457cac;
    font-size: 15px;
    padding: 3px;
    font-family: 'Battambang', cursive;
}

input[type="number"],input[type="text"],input[type="email"],input[type=""],
input[type="telephone"]{
    padding: 5px 5px 5px 15px;
    border: 1px solid #000;
    border-radius: 4px;
}

label[for="sexoFeme"], label[for="sexoMascu"], 
label[for="sexoTransg"], label[for="sexoNeutro"],
label[for="sexoNBinario"], label[for="sexoAGenero"]{
    margin-right: 20px;
    padding-left: 0px;
    cursor: pointer;
}

input:checked + label[for="sexoFeme"], input:checked + label[for="sexoMascu"],
input:checked + label[for="sexoTransg"], input:checked + label[for="sexoNeutro"],
input:checked + label[for="sexoNBinario"], input:checked + label[for="sexoAGenero"],
input:checked + label[for="termos"]{
    color: rgb(30, 206, 233);
}

label[for=termos]{
    margin: 0;
    cursor: pointer;
}

fieldset{
    margin: 2% 30%;
    background-color: #fff;
    padding: 20px;
    border: 3px solid #36A1FF;
    border-left: 20px solid #36A1FF;
    display: inline-block;
    border-radius: 4px;
}

legend{
    background-color: #36A1FF;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.04em;
    padding: 10px;
    border-radius: 35px;
}

select{
    margin: 20px 0;
    padding: 5px 5px 5px 15px;
    border-radius: 4px;
    border-color: 2px solid #fff;
    width: 250px;
}

input[type="submit"]{
    text-align: center;
    font-size: 15px;
    background-color: #CA9FD4 ;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    width: 150px;
}

footer{
    padding-left: 25px;
    font-family: 'Inter', sans-serif;
    border: 10px solid #1C6491;
    background-color: #1C6491;
    color: #fff;
    column-count: 3;
}

footer li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px;
}

#equipe{
    line-height: 7px;
}

#copiright{
    float: center;
    width: 10%;
}

