html{ box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #B9FFE6;
}

table{
    border-collapse: collapse;
    text-align: center;
}
  
table, th, td{
    border: 1px solid #83C4FC;
}

td{
    height: 70px;
}
  
tr :hover{
    background-color: rgb(111, 243, 250);
}
  
fieldset{
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin: 4% 15%;
    border: 3px solid #83C4FC;
    border-left: 20px solid #83C4FC;
    display: inline-block;
}
  
legend{
    background-color: #83C4FC;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.04em;
    padding: 10px;
    text-align: center;
    border: 3px solid #89bbe8;
    border-radius: 10px;
}

input{
    border: none;
    height: 55px;
}

textarea{
    border: none;
}

button{
    background-color: hsla(37, 88%, 52%, 0.523);
    color: var(--blanco);
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    width: 115px;
    height: 50px;
    border: none;
    margin-top: 2%;
    margin-left: 40%;
}

button:hover{
    background-color: var(--naranja);
}
