body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #B9FFE6;
    margin: 0;
    padding: 0;
  }
  
  #logo{
    float: left;
    margin: 0% 1%;
  }
  
  #tituLogo{
    position: relative;
    transform: translateY(80%);
  }
  
  header{
    font-family: 'Inter', sans-serif;
    border: 3px solid #36A1FF;
    background-color: #36A1FF;
    color: #fff;
    width: 100%;
  }
  
  nav ul{
    color: #fff;
  }
  
  nav ul li{
    color: #fff;
    margin: 0 20px;
    display: inline;
    position: relative;
    transform: translateY(-80%);
  }
  
  nav{
    color: #fff;
    margin-right: 150px;
    text-align: right;
  }
  
  /*Menu Drop Down */
  nav ul ul{
    color: #fff;
    background-color: #36A1FF;
    display: none;
    position: absolute;
    left: -40%;
    width: 200px;
    text-align: left;
  }
  
  
  nav ul li:hover ul{
    display: block;
    line-height: 35px;
  }
  
  nav ul ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    transition: .3s;
  }
  /* */
  
  
  a{
    text-decoration: none;
  }
  
  nav ul li a:hover{
    background-color: #F09D1A;
  }
  
  
  a{
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover ul{
    display: block;
    line-height: 15px;
  }
  
  td{
    text-align: center;
    border: 1px solid #89bbe8;
    border-radius: 5px;   
  
  }

table{
    border-collapse: collapse;
    text-align: center;
}

table, th, td{
    border: 2px solid rgb(67, 91, 228);
}

tr :hover{
    background-color: rgb(111, 243, 250);
}

input[type="numer"]{
    width: 40px;
}

table .branco{
    border: none;
}

table tbody .pontosIni{
    width: 35px;
    text-align: center;
}

fieldset .simeNao{
    border: 2px solid rgb(67, 91, 228);
    width: 70%;
    margin: 3px 50px;
    
}

fieldset{
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin: 30px 170px;
    border: 3px solid #89bbe8;
    border-left: 20px solid #89bbe8;
    display: inline-block;
}

legend{
    background-color: #89bbe8;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.04em;
    padding: 10px;
}

input[type="submit"]{
    background-color: #F09D1A;
    color: #fff;
    width: 100px;
    height: 50px;
    border: none;
}

span{
  display: inline-block;
  text-align: center;
  margin: 2% 50%;
}

label{
    font-size: 14px;
}
 /* input[type="checkbox"]{
    if(#pergumsim:active){
        só uma checkbox pode estar ativa...n as duas ao mesmo tempo.
    }
 } ideias muito loucas! kkkkk */

 footer{
    margin: 0;
    width: 100%;
    padding-left: 25px;
    font-family: 'Inter', sans-serif;
    border: 10px solid #1C6491;
    background-color: #1C6491;
    color: #fff;
    column-count: 3;
}

footer li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px;
}

#equipe{
    line-height: 7px;
}

#copiright{
    float: center;
    width: 10%;
}
