html{ box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

:root {
  --azul: #89bbe8;
  --blanco: #fff;
  --rojo: red;
  --amarelo: yellow;
  --naranja: #F09D1A;
}

td{
  text-align: center;
  border: 1px solid var(--azul);
  border-radius: 5px;   
}

table {
  margin: auto;
}

input[type="numer"]{
  width: 40px;
  padding: 5px 5px 5px 15px;
  border: 1px solid var(--azul);
  border-radius: 4px;
}

fieldset {
  margin: 2% auto;
  background-color: var(--blanco);
  padding: 5px 5px 5px 15px;
  width: 60%;
  border-radius: 4px;
  border: 3px solid var(--azul);
  border-left: 20px solid var(--azul);
}


legend {
  border: 3px solid var(--amarelo);
  border-radius: 10px;
  background-color: var(--azul);
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

#texto{
  color: var(--rojo);
  background-color: var(--amarelo);
  text-align: center;
}

.inpuAno{
  width: 40px;
}

button{
  background-color: hsla(37, 88%, 52%, 0.523);
  color: var(--blanco);
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  width: 115px;
  height: 50px;
  border: none;
  margin-top: 2%;
  margin-left: 45%;
}

button:hover{
  background-color: var(--naranja);
}
