html{ box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #B9FFE6;
  margin: 0;
  padding: 0;
}

td{
  text-align: center;
  border: 1px solid #89bbe8;
  border-radius: 5px;
  
}

table {
  margin: auto;
}

input{
  padding: 5px 5px 5px 15px;
  border: 1px solid #89bbe8;
  border-radius: 4px;
}

fieldset {
  background-color: #fff;
  width: 60%;
  padding: 20px;
  margin: 4% 0%;
  border: 3px solid #83C4FC;
  border-left: 20px solid #83C4FC;
  display: inline-block;
}

legend {
  background-color: #83C4FC;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.04em;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

button{
  background-color: hsla(37, 88%, 52%, 0.523);
  color: var(--blanco);
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  width: 115px;
  height: 50px;
  border: none;
  margin-top: 2%;
  margin-left: 40%;
}

button:hover{
  background-color: var(--naranja);
}
