<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alergias</title>
    </head>
    <body>
        <fieldset>
            <legend><h3>Reações adversas ou alergia a medicamentos.</h3></legend>
            <h4>Registre abaixo os medicamentos que tenham provocado uma reação adversa ou alergia.</h4>
            <table>
                <thead>
                    <tr>
                        <th>Medicamentos</th>
                        <th>Data</th>
                        <th>Reações adversas ou alergias</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <form>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><textarea rows="4"></textarea></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><textarea rows="4"></textarea></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><textarea rows="4"></textarea></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><textarea rows="4"></textarea></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><textarea rows="4"></textarea></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </body>
</html>