<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/estiloAvalIdoso.css">
    <title>Avaliação Ambiental</title>
</head>

<header>
    <div>
        <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
        <h2 id="tituLogo">Ministerio da Saúde</h2>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Perguntas Frequentes</a></li>
                <li><a href="#">Telefones Úteis</a></li>
                <li><a href="#">Perfil</a>
                    <ul>
                        <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                        <li><a href="#">Ajuda e suporte</a></li>
                        <li><a href="#">Alterar Dados</a></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <fieldset>
        <legend>2.8 Avaliação ambiental</legend>
        <p>Esteja atento(a) à segurança de seu domicílio, pois a maioria das quedas que ocasionam <br>incapacidade permanente ocorre dentro de casa.</p>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Itens importantes para a segurança do domicílio</th>
                    <form> 
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number" ></th>
                    </form>   
                </tr>
                <tr>
                    <th>Local</th>  
                    <th>Item</th>
                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>                
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td rowspan="4">Áreas de locação</td>
                </tr>

                <tr>
                    <td>Áreas de locomoção desimpedidas</td>
                    <form>
                        <td><input type="radio" name="ambie1" value="Sim"></td>
                        <td><input type="radio" name="ambie1" value="Não"></td>
                        <td><input type="radio" name="ambie2" value="Sim"></td>
                        <td><input type="radio" name="ambie2" value="Não"></td>
                        <td><input type="radio" name="ambie3" value="Sim"></td>
                        <td><input type="radio" name="ambie3" value="Não"></td>                        
                        <td><input type="radio" name="ambie4" value="Sim"></td>
                        <td><input type="radio" name="ambie4" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td>Presença de barras de apoio</td>
                   <form>
                        <td><input type="radio" name="ambie5" value="Sim"></td>
                        <td><input type="radio" name="ambie5" value="Não"></td>
                        <td><input type="radio" name="ambie6" value="Sim"></td>
                        <td><input type="radio" name="ambie6" value="Não"></td>
                        <td><input type="radio" name="ambie7" value="Sim"></td>
                        <td><input type="radio" name="ambie7" value="Não"></td>                        
                        <td><input type="radio" name="ambie8" value="Sim"></td>
                        <td><input type="radio" name="ambie8" value="Não"></td>
                    </form>
                </tr>
                <tr>
                    <td>Pisos uniformes e tapetes bem fixos</td>
                    <form>
                        <td><input type="radio" name="ambie9" value="Sim"></td>
                        <td><input type="radio" name="ambie9" value="Não"></td>
                        <td><input type="radio" name="ambie10" value="Sim"></td>
                        <td><input type="radio" name="ambie10" value="Não"></td>
                        <td><input type="radio" name="ambie11" value="Sim"></td>
                        <td><input type="radio" name="ambie11" value="Não"></td>                        
                        <td><input type="radio" name="ambie12" value="Sim"></td>
                        <td><input type="radio" name="ambie12" value="Não"></td>
                    </form>
                </tr>
                    
                <tr>
                    <td rowspan="3">Iluminação</td>
                </tr>  

                <tr>
                    <form>
                        <td><input type="radio" name="ambie12" value="Sim"></td>
                        <td><input type="radio" name="ambie12" value="Não"></td>
                        <td><input type="radio" name="ambie12" value="Sim"></td>
                        <td><input type="radio" name="ambie12" value="Não"></td>
                        <td><input type="radio" name="ambie12" value="Sim"></td>
                        <td><input type="radio" name="ambie12" value="Não"></td>                        
                        <td><input type="radio" name="ambie12" value="Sim"></td>
                        <td><input type="radio" name="ambie12" value="Não"></td>
                    </form>    
                </tr> 

                <tr>
                    <td>Interruptores acessíveis na entrada dos cômodos</td>
                    <form>
                        <td><input type="radio" name="ambie13" value="Sim"></td>
                        <td><input type="radio" name="ambie13" value="Não"></td>
                        <td><input type="radio" name="ambie14" value="Sim"></td>
                        <td><input type="radio" name="ambie14" value="Não"></td>
                        <td><input type="radio" name="ambie15" value="Sim"></td>
                        <td><input type="radio" name="ambie15" value="Não"></td>                        
                        <td><input type="radio" name="ambie16" value="Sim"></td>
                        <td><input type="radio" name="ambie16" value="Não"></td>
                    </form>       
                </tr>    
                                    
                <tr>
                    <td rowspan="3">Banheiro</td>
                </tr>

                <tr>
                    <td>Área do chuveiro com antiderrapante</td>
                    <form>
                        <td><input type="radio" name="ambie17" value="Sim"></td>
                        <td><input type="radio" name="ambie17" value="Não"></td>
                        <td><input type="radio" name="ambie18" value="Sim"></td>
                        <td><input type="radio" name="ambie18" value="Não"></td>
                        <td><input type="radio" name="ambie19" value="Sim"></td>
                        <td><input type="radio" name="ambie19" value="Não"></td>                        
                        <td><input type="radio" name="ambie20" value="Sim"></td>
                        <td><input type="radio" name="ambie20" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td>Box com abertura fácil ou presença e cortina bem firme</td>
                    <form>
                        <td><input type="radio" name="ambie21" value="Sim"></td>
                        <td><input type="radio" name="ambie21" value="Não"></td>
                        <td><input type="radio" name="ambie22" value="Sim"></td>
                        <td><input type="radio" name="ambie22" value="Não"></td>
                        <td><input type="radio" name="ambie23" value="Sim"></td>
                        <td><input type="radio" name="ambie23" value="Não"></td>                        
                        <td><input type="radio" name="ambie24" value="Sim"></td>
                        <td><input type="radio" name="ambie24" value="Não"></td>
                    </form>
                </tr>
            
                <tr>
                    <td>Cozinha e quarto</td>
                    <td>Armários baixos, sem necessidade do uso de escada </td>
                    <form>
                        <td><input type="radio" name="ambie25" value="Sim"></td>
                        <td><input type="radio" name="ambie25" value="Não"></td>
                        <td><input type="radio" name="ambie26" value="Sim"></td>
                        <td><input type="radio" name="ambie26" value="Não"></td>
                        <td><input type="radio" name="ambie27" value="Sim"></td>
                        <td><input type="radio" name="ambie27" value="Não"></td>                        
                        <td><input type="radio" name="ambie28" value="Sim"></td>
                        <td><input type="radio" name="ambie28" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td rowspan="3">Escada<input type="checkbox" name="escada"><label>Não há</label></td>
                </tr>

                <tr>
                    <td>Piso antiderrapante</td>
                    <form>
                        <td><input type="radio" name="ambie29" value="Sim"></td>
                        <td><input type="radio" name="ambie29" value="Não"></td>
                        <td><input type="radio" name="ambie30" value="Sim"></td>
                        <td><input type="radio" name="ambie30" value="Não"></td>
                        <td><input type="radio" name="ambie31" value="Sim"></td>
                        <td><input type="radio" name="ambie31" value="Não"></td>                        
                        <td><input type="radio" name="ambie32" value="Sim"></td>
                        <td><input type="radio" name="ambie32" value="Não"></td>
                    </form>
                </tr>
                <tr>
                    <td>Corrimão dos dois lados e firme</td>
                    <form>
                        <td><input type="radio" name="ambie33" value="Sim"></td>
                        <td><input type="radio" name="ambie33" value="Não"></td>
                        <td><input type="radio" name="ambie34" value="Sim"></td>
                        <td><input type="radio" name="ambie34" value="Não"></td>
                        <td><input type="radio" name="ambie35" value="Sim"></td>
                        <td><input type="radio" name="ambie35" value="Não"></td>                        
                        <td><input type="radio" name="ambie36" value="Sim"></td>
                        <td><input type="radio" name="ambie36" value="Não"></td>
                    </form>
                </tr> 
            </tbody>
        </table>
    </fieldset> 
</body>

<footer>
    <div>
        <div>
            <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
        </div>  
        
        <div id="equipe">
            <h6>Integrantes:</h6>
            <li>Filipe Serra Silva</li>
            <li>Cristina Alvéstegui Subieta</li>
            <li>Matheus Leopoldino dos Santos</li>
            <li>Francisco Pereira de Carvalho Neto</li>  
        </div>

        <div id="copyright">
            <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
            <h6>Politica de Privacidade</h6>
        </div>
    </div>
</footer>
</html>
