<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação Ambiental</title>
</head>
<body>
    <fieldset>
        <legend>2.8 Avaliação ambiental</legend>
        <p>Esteja atento(a) à segurança de seu domicílio, pois a maioria das quedas que ocasionam <br>incapacidade permanente ocorre dentro de casa.</p>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Itens importantes para a segurança do domicílio</th>
                    <form> 
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number"></th>
                        <th colspan="2">20<input type="number" ></th>
                    </form>   
                </tr>
                <tr>
                    <th>Local</th>  
                    <th>Item</th>
                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>

                    <th>S</th>
                    <th>N</th>                
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td rowspan="4">Áreas de locação</td>
                </tr>

                <tr>
                    <td>Áreas de locomoção desimpedidas</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td>Presença de barras de apoio</td>
                   <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>
                <tr>
                    <td>Pisos uniformes e tapetes bem fixos</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>
                    
                <tr>
                    <td rowspan="3">Iluminação</td>
                </tr>  

                <tr>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>    
                </tr> 

                <tr>
                    <td>Interruptores acessíveis na entrada dos cômodos</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>       
                </tr>    
                                    
                <tr>
                    <td rowspan="3">Banheiro</td>
                </tr>

                <tr>
                    <td>Área do chuveiro com antiderrapante</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td>Box com abertura fácil ou presença e cortina bem firme</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>
            
                <tr>
                    <td>Cozinha e quarto</td>
                    <td>Armários baixos, sem necessidade do uso de escada </td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>

                <tr>
                    <td rowspan="3">Escada<input type="checkbox" name="escada"><label>Não há</label></td>
                </tr>

                <tr>
                    <td>Piso antiderrapante</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr>
                <tr>
                    <td>Corrimão dos dois lados e firme</td>
                    <form>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>                        
                        <td><input type="radio" value="Sim"></td>
                        <td><input type="radio" value="Não"></td>
                    </form>
                </tr> 
            </tbody>
        </table>
    </fieldset> 
</body>
</html>