<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Antropométricos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../CSS/estiloPeso.css"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Battambang&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <fieldset class="fielum">
            <legend>Dados antropométricos</legend>
            <table width="50%">
                <thead>
                    <tr>
                        <td></td>
                        <th>20<input type="number" class="inpuAno"></th></th>
                        <th>20<input type="number" class="inpuAno"></th></th>
                        <th>20<input type="number" class="inpuAno"></th></th>
                        <th>20<input type="number" class="inpuAno"></th></th>
                        <th>20<input type="number" class="inpuAno"></th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Peso</th>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <th>Altura</th>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <th>IMC=peso/altua²</th>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <th>Perímetro da panturrilha (PP) esquerda</th>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                </tbody>
            </table>
            <img src="../fotos/graficoPeso.PNG">
            <fieldset>
                <p> A medida do perímetro da panturrilha esquerda é um bom parâmetro de avaliação<br>
                da massa muscular no idoso. Medidas menores que 31cm são indicativas de<br> 
                redução da massa muscular (sarcopenia) e estão associadas a maior risco de<br> 
                quedas, diminuição da força muscular e dependência funcional</p>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>