<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirugias</title>
  </head>
  <body>
    <fieldset>
      <legend><h3>Cadastro de Cirurgia</h3></legend>
      <h4>Relate as cirurgia realizadas ao longo da sua vida.</h4>
      <table>
        <thead>
          <tr>
            <th>Cirurgia</th>
            <th>Ano</th>
            <th>Observações</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>

          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>

          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>

          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>

          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>

          <tr>
            <form>
              <td><input type="text"></td>
              <td><input type="date"></td>
              <td><textarea rows="4"></textarea></td>
            </form>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </body>
</html>
          