<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset = "UTF-8"/>
        <title>Controle de Pressão Arterial</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloCntrlPressaoArterial.css">

    </head>

    <body>
        <fieldset>
            <legend><h3>Pressão Arterial</h3></legend>
            <h3>Informe sua pressão arterial e as datas de sua medição na tabela abaixo</h3>
            <table>
                <thead>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                </thead>

                <tbody>
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>    
                    </tr>
                    
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                        
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                   <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
               
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
               
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                </tbody>
            </table>
            <br><br>
            <p><strong>ALERTA!<br>A hipotensão ortostática é causa frequente de tonturas e quedas em pessoas idosas. Para identificá-la, é recomendada a medida da pressão arterial nas três posições (deitada, sentada e de pé). Seu diagnóstico é estabelecido quando há uma redução de 20 mmHg ou mais na medida da pressão sistólica ou de 10 mmHg ou mais na pressão diastólica, com a mudança da posição deitada para sentada ou de pé.</strong></p>
            <br><br>
        </fieldset>
    </body>

    <footer>
        
    </footer>
</html> 