<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/estiloquedas.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/estiloHeaderFooter.css">
    <link rel="shortcut icon type" type="imagem/x-icon" href="../static/fotos/acidente.png">
    <title>Quedas</title>
  </head>

  <header>
    <div>
      <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
      <h2 id="tituLogo">Ministerio da Saúde</h2>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
            <li><a href="#">Perguntas Frequentes</a></li>
            <li><a href="#">Telefones Úteis</a></li>
            <li><a href="#">Perfil</a>
                <ul>
                    <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                    <li><a href="#">Ajuda e suporte</a></li>
                    <li><a href="#">Alterar Dados</a></li>
                    <li><a href="index.html">Sair</a></li>
                </ul>
            </li>
            
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <fieldset>
      <legend>2.9 Quedas</legend>
      <p>Quedas são frequentes em pessoas idosas, mas podem ser evitadas. 
      As principais consequências são fraturas, traumatismo craniano, 
      contusão muscular e, principalmente, o medo de cair.</p>
      <h3>Caso já tenha sofrido alguma queda, responda às seguintes perguntas:</h3>
      <table>
        <thead>
          <tr>
            <th rowspan="2">Data da queda (mês/ano)</th>
            <th colspan="2" >Qual foi o Local de queda?</th>
            <th colspan="2">A queda causou alguma fratura?</th>
            <th colspan="2">Você parou de realizar alguma atividade por medo de cair novamente?</th>
          </tr>
          <tr>
            <th>Dentro de casa</th>
            <th>Fora de casa</th>
            <th>Sim/Qual?</th>
            <th>Não</th>
            <th>Sim</th>
            <th>Não</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora" value="dentro"></td>
            <td><input type="radio" name="dentro_fora" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao1" value="não"></td>
            <td><input type="radio" name="sim_nao2" value="sim"></td>
            <td><input type="radio" name="sim_nao2" value="não"></td>
          </tr>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora2" value="dentro"></td>
            <td><input type="radio" name="dentro_fora2" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao3" value="não"></td>
            <td><input type="radio" name="sim_nao4" value="sim"></td>
            <td><input type="radio" name="sim_nao4" value="não"></td>
          </tr>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora3" value="dentro"></td>
            <td><input type="radio" name="dentro_fora3" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao5" value="não"></td>
            <td><input type="radio" name="sim_nao6" value="sim"></td>
            <td><input type="radio" name="sim_nao6" value="não"></td>
          </tr>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora4" value="dentro"></td>
            <td><input type="radio" name="dentro_fora4" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao7" value="não"></td>
            <td><input type="radio" name="sim_nao8" value="sim"></td>
            <td><input type="radio" name="sim_nao8" value="não"></td>
          </tr>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora5" value="dentro"></td>
            <td><input type="radio" name="dentro_fora5" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao9" value="não"></td>
            <td><input type="radio" name="sim_nao10" value="sim"></td>
            <td><input type="radio" name="sim_nao10" value="não"></td>
          </tr>
          <tr>
            <td><input type="date"></td>
            <td><input type="radio" name="dentro_fora6" value="dentro"></td>
            <td><input type="radio" name="dentro_fora6" value="fora"></td>
            <td><textarea name="" id="" cols="10" rows="5"></textarea></td>
            <td><input type="radio" name="sim_nao11" value="não"></td>
            <td><input type="radio" name="sim_nao12" value="sim"></td>
            <td><input type="radio" name="sim_nao12" value="não"></td>
          </tr>
        </tbody>
      </table>

      <Button>Cadastrar Dados</Button>
    </fieldset>

    <footer>
      <div>
          <div>
              <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
          </div>  
          
          <div id="equipe">
              <h6>Integrantes:</h6>
              <li>Filipe Serra Silva</li>
              <li>Cristina Alvéstegui Subieta</li>
              <li>Matheus Leopoldino dos Santos</li>
              <li>Francisco Pereira de Carvalho Neto</li>  
          </div>

          <div id="copyright">
              <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
              <h6>Politica de Privacidade</h6>
          </div>
      </div>
  </footer>
  </body>
</html>
