<!DOCTYPE html>
<html lang="pt=BR">
    
    <head>
        <meta charset="UTF-8">
        <title>Glicemia</title>
        <link rel="shortcut icon type" type="imagem/x-icon" href="../static/fotos/indice-glicemico.png">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloHeaderFooter.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloCntrlGlicemia.css">
    </head>

    <body>

        <header>
            <div>
                <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
                <h2 id="tituLogo">Ministerio da Saúde</h2>
                <nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="#">Perguntas Frequentes</a></li>
                        <li><a href="#">Telefones Úteis</a></li>
                        <li><a href="#">Perfil</a>
                            <ul>
                                <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                                <li><a href="#">Ajuda e suporte</a></li>
                                <li><a href="#">Alterar Dados</a></li>
                                <li><a href="index.html">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <Fieldset>
            <legend><h3>Controle de Glicemia</h3></legend>
            <div>
                
                <p>O valor de referência da glicemia depende da presença ou não de jejum. O diagnóstico de diabetes mellitus é feito quando duas ou mais dosagens de glicemia de jejum, após jejum mínimo de 8h, são iguais ou maiores que 126 mg/dL.<p>Caso  a  glicemia  capilar  seja  colhida  na  unidade  de  saúde,  de  forma  casual  ou  sem  jejum prévio, a dosagem deverá ser de até 200 mg/dL.
            </div>

            <table>
                <thead>
                    <td>Data</td>
                    <td>Glicemia</td>
                    <td>Data</td>
                    <td>Glicemia</td>
                    <td>Data</td>
                    <td>Glicemia</td>
                    <td>Data</td>
                    <td>Glicemia</td>
                    <td>Data</td>
                    <td>Glicemia</td>
                    
                </thead>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>

                <tbody>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                    <td><input type="date"></td>  
                    <td><input type="radio" name="jejum/casual">Jejum <input type="radio" name="jejum/casual">Casual<br><input type="number">mg/dL</td>
                </tbody>
            </table>
            <button>Cadastrar Dados</button>
        </Fieldset>

        <footer>
            <div>
                <div>
                    <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
                </div>  
                
                <div id="equipe">
                    <h6>Integrantes:</h6>
                    <li>Filipe Serra Silva</li>
                    <li>Cristina Alvéstegui Subieta</li>
                    <li>Matheus Leopoldino dos Santos</li>
                    <li>Francisco Pereira de Carvalho Neto</li>  
                </div>
    
                <div id="copyright">
                    <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                    <h6>Politica de Privacidade</h6>
                </div>
            </div>
        </footer>
    </body>
</html>
