<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset = "UTF-8"/>
        <title>Controle de Pressão Arterial</title>
        <link rel="stylesheet" type="text/css" href="../CSS/estiloCntrlPressaoArterial.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Battambang&display=swap" rel="stylesheet">
    </head>

    <body>
        <fieldset>

            <table>

                <legend><h3>Informe sua pressão arterial e as datas de sua medição na tabela abaixo</h3></legend>
               
                <thead>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                </thead>

                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>
                <tbody>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                    <td><input type="date"></td>
                    <td><input type="number"></td>
                </tbody>

            </table>

            <br><br>
            <p><label>ALERTA!<br>A hipotensão ortostática é causa frequente de tonturas e quedas em pessoas idosas. Para identificá-la, é recomendada a medida da pressão arterial nas três posições (deitada, sentada e de pé). Seu diagnóstico é estabelecido quando há uma redução de 20 mmHg ou mais na medida da pressão sistólica ou de 10 mmHg ou mais na pressão diastólica, com a mudança da posição deitada para sentada ou de pé.</label></p>
            <br><br>

        </fieldset>



    </body>

    <footer>
        
    </footer>




</html> 