<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <title>Controle de Pressão Arterial</title>
        <link rel="shortcut icon type" type="imagem/x-icon" href="../static/fotos/corpo.png">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloHeaderFooter.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloCntrlPressaoArterial.css">
        
        

    </head>

    <header>
        <div>
            <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
            <h2 id="tituLogo">Ministerio da Saúde</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Telefones Úteis</a></li>
                    <li><a href="#">Perfil</a>
                        <ul>
                            <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                            <li><a href="#">Ajuda e suporte</a></li>
                            <li><a href="#">Alterar Dados</a></li>
                            <li><a href="index.html">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <fieldset>
            <legend>Pressão Arterial</legend>
            <h3>Informe sua pressão arterial e as datas de sua medição na tabela abaixo:</h3>
            <table>
                <thead>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                    <th>Data</th>
                    <th>PA</th>
                </thead>

                <tbody>
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>    
                    </tr>
                    
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                    </tr>

                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                    </tr>
                
                   <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form>
                    </tr>
               
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
               
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                
                    <tr>
                        <form>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                            <td><input type="date"></td>
                            <td><input type="number"></td>
                        </form> 
                    </tr>
                </tbody>
            </table>
            <button>Cadastrar Dados</button>
            <br><br>
            <p id="alerta"><strong>ALERTA!<br>A hipotensão ortostática é causa frequente de tonturas e quedas em pessoas 
            idosas. Para identificá-la, é recomendada a medida da pressão arterial nas três posições 
            (deitada, sentada e de pé). Seu diagnóstico é estabelecido quando há uma redução de 20 mmHg ou mais
            na medida da pressão sistólica ou de 10 mmHg ou mais na pressão diastólica, com a mudança da posição deitada para sentada ou de pé.</strong></p>
            <br><br>
        </fieldset>
    </body>

    <footer>
        <div>
            <div>
                <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
            </div>  
            
            <div id="equipe">
                <h6>Integrantes:</h6>
                <li>Filipe Serra Silva</li>
                <li>Cristina Alvéstegui Subieta</li>
                <li>Matheus Leopoldino dos Santos</li>
                <li>Francisco Pereira de Carvalho Neto</li>  
            </div>

            <div id="copyright">
                <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                <h6>Politica de Privacidade</h6>
            </div>
        </div>
    </footer>
</html> 
