<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloAvalIdoso.css">
        <title>Complementar</title>
    </head>

    <header>
        <div>
            <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
            <h2 id="tituLogo">Ministerio da Saúde</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Telefones Úteis</a></li>
                    <li><a href="#">Perfil</a>
                        <ul>
                            <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                            <li><a href="#">Ajuda e suporte</a></li>
                            <li><a href="#">Alterar Dados</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <fieldset>
            <legend>2.7 Informações complementares</legend>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <form>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number" ></th>
                        </form>
                    </tr>

                    <tr>
                        <th></th>  
                        <th></th>
                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>
                                        
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th rowspan="4">Congnição</th>
                    </tr>

                    <tr>
                        <td>Alguém da família ou algum(a) amigo(a) falou que você está ficando esquecido(a)?</td>
                        <form>
                            <td><input type="radio" name="comple1" value="Sim"></td>       
                            <td><input type="radio" name="comple1" value="Não"></td>              
                            <td><input type="radio" name="comple2" value="Sim"></td>
                            <td><input type="radio" name="comple2" value="Não"></td>
                            <td><input type="radio" name="comple3" value="Sim"></td>                        
                            <td><input type="radio" name="comple3" value="Não"></td>
                            <td><input type="radio" name="comple4" value="Sim"></td>    
                            <td><input type="radio" name="comple4" value="Não"></td>  
                        </form>
                    </tr>

                    <tr>
                        <td>O esquecimento está piorando nos últimos meses?</td>
                        <form>
                            <td><input type="radio" name="comple5" value="Sim"></td>       
                            <td><input type="radio" name="comple5" value="Não"></td>              
                            <td><input type="radio" name="comple6" value="Sim"></td>
                            <td><input type="radio" name="comple6" value="Não"></td>
                            <td><input type="radio" name="comple7" value="Sim"></td>                        
                            <td><input type="radio" name="comple7" value="Não"></td>
                            <td><input type="radio" name="comple8" value="Sim"></td>    
                            <td><input type="radio" name="comple8" value="Não"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>O esquecimento está impedindo a realização de alguma atividade do cotidiano?</td>
                        <form>
                            <td><input type="radio" name="comple9" value="Sim"></td>       
                            <td><input type="radio" name="comple9" value="Não"></td>              
                            <td><input type="radio" name="comple10" value="Sim"></td>
                            <td><input type="radio" name="comple10" value="Não"></td>
                            <td><input type="radio" name="comple11" value="Sim"></td>                        
                            <td><input type="radio" name="comple11" value="Não"></td>
                            <td><input type="radio" name="comple12" value="Sim"></td>    
                            <td><input type="radio" name="comple12" value="Não"></td> 
                        </form> 
                    </tr>

                    <tr>
                        <th rowspan="3">Humor</th>
                    </tr>

                    <tr>
                        <td>No último mês, você ficou com desânimo, tristeza ou desesperança? </td>
                        <form>
                            <td><input type="radio" name="comple13" value="Sim"></td>       
                            <td><input type="radio" name="comple13" value="Não"></td>              
                            <td><input type="radio" name="comple14" value="Sim"></td>
                            <td><input type="radio" name="comple14" value="Não"></td>
                            <td><input type="radio" name="comple15" value="Sim"></td>                        
                            <td><input type="radio" name="comple15" value="Não"></td>
                            <td><input type="radio" name="comple16" value="Sim"></td>    
                            <td><input type="radio" name="comple16" value="Não"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>No último mês, você perdeu o interesse ou o prazer em atividades anteriormente prazerosas?</td>
                        <form>
                            <td><input type="radio" name="comple17" value="Sim"></td>       
                            <td><input type="radio" name="comple17" value="Não"></td>              
                            <td><input type="radio" name="comple18" value="Sim"></td>
                            <td><input type="radio" name="comple18" value="Não"></td>
                            <td><input type="radio" name="comple19" value="Sim"></td>                        
                            <td><input type="radio" name="comple19" value="Não"></td>
                            <td><input type="radio" name="comple20" value="Sim"></td>    
                            <td><input type="radio" name="comple20" value="Não"></td>  
                        </form>
                    </tr>
                </tbody>  
            </table>        
        </fieldset><!---->                 
    </body>

    <footer>
        <div>
            <div>
                <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
            </div>  
            
            <div id="equipe">
                <h6>Integrantes:</h6>
                <li>Filipe Serra Silva</li>
                <li>Cristina Alvéstegui Subieta</li>
                <li>Matheus Leopoldino dos Santos</li>
                <li>Francisco Pereira de Carvalho Neto</li>  
            </div>

            <div id="copyright">
                <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                <h6>Politica de Privacidade</h6>
            </div>
        </div>
    </footer>
</html>
