<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Complementar</title>
    </head>

    <body>
        <fieldset>
            <legend>2.7 Informações complementares</legend>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <form>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number" ></th>
                        </form>
                    </tr>

                    <tr>
                        <th></th>  
                        <th></th>
                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>
                                        
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th rowspan="4">Congnição</th>
                    </tr>

                    <tr>
                        <td>Alguém da família ou algum(a) amigo(a) falou que você está ficando esquecido(a)?</td>
                        <form>
                            <td><input type="radio" value="Sim"></td>       
                            <td><input type="radio" value="Não"></td>              
                            <td><input type="radio" value="Sim"></td>
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>                        
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>    
                            <td><input type="radio" value="Não"></td>  
                        </form>
                    </tr>

                    <tr>
                        <td>O esquecimento está piorando nos últimos meses?</td>
                        <form>
                            <td><input type="radio" value="Sim"></td>       
                            <td><input type="radio" value="Não"></td>              
                            <td><input type="radio" value="Sim"></td>
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>                        
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>    
                            <td><input type="radio" value="Não"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>O esquecimento está impedindo a realização de alguma atividade do cotidiano?</td>
                        <form>
                            <td><input type="radio" value="Sim"></td>       
                            <td><input type="radio" value="Não"></td>              
                            <td><input type="radio" value="Sim"></td>
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>                        
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>    
                            <td><input type="radio" value="Não"></td> 
                        </form> 
                    </tr>

                    <tr>
                        <th rowspan="3">Humor</th>
                    </tr>

                    <tr>
                        <td>No último mês, você ficou com desânimo, tristeza ou desesperança? </td>
                        <form>
                            <td><input type="radio" value="Sim"></td>       
                            <td><input type="radio" value="Não"></td>              
                            <td><input type="radio" value="Sim"></td>
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>                        
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>    
                            <td><input type="radio" value="Não"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>No último mês, você perdeu o interesse ou o prazer em atividades anteriormente prazerosas?</td>
                        <form>
                            <td><input type="radio" value="Sim"></td>       
                            <td><input type="radio" value="Não"></td>              
                            <td><input type="radio" value="Sim"></td>
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>                        
                            <td><input type="radio" value="Não"></td>
                            <td><input type="radio" value="Sim"></td>    
                            <td><input type="radio" value="Não"></td>  
                        </form>
                    </tr>
                </tbody>  
            </table>        
        </fieldset><!---->                 
    </body>
</html>