<!Doctype html>
<html lang="pt-BR">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloPeso.css"></link>

    </head>

    <body>
        <div>
            <fieldset>
                <legend>Controle de Peso</legend>
                <table width="90%">
                    <thead>
                        <tr>
                            <th rowspan="2">Controle de perda de peso</td>
                            <form>
                                <th colspan="2" class="pesoSize">20<input type="number" class="inpuAno"></th>
                                <th colspan="2" class="pesoSize">20<input type="number" class="inpuAno"></th>
                                <th colspan="2" class="pesoSize">20<input type="number" class="inpuAno"></th>
                                <th colspan="2" class="pesoSize">20<input type="number" class="inpuAno"></th>
                            </form>
                        </tr>
                        <tr>
                            <th>S</th>
                            <th>N</th>
                            <th>S</th>
                            <th>N</th>
                            <th>S</th>
                            <th>N</th>
                            <th>S</th>
                            <th>N</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Você apresentou <strong>perda de peso não intencional*</strong>de, no mínimo, 4.5kg ou de 5% do seu peso corporal no ultimo ano?</th>
                            <form>
                                <td><input type="radio" name="peso1" value="sim"></td>
                                <td><input type="radio" name="peso1" value="não"></td>
                                <td><input type="radio" name="peso2" value="sim"></td>
                                <td><input type="radio" name="peso2" value="não"></td>
                                <td><input type="radio" name="peso3" value="sim"></td>
                                <td><input type="radio" name="peso3" value="não"></td>
                                <td><input type="radio" name="peso4" value="sim"></td>
                                <td><input type="radio" name="peso4" value="não"></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
                <img src="../static/fotos/controlPeso.PNG">
            </fieldset>
        </div><br>
        <fieldset>
            <table id="IMC">
                <thead>
                    <tr>
                        <th>Índice antropométrico</th>
                        <th>Pontos de corte</th>
                        <th>Classificação do estado nutricional</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="4">IMC</th>
                    </tr>
                    <tr>
                        <td> < 22kg/m² </td>
                        <td>Baixo Peso</td>
                    </tr>
                    <tr>
                        <td> > 22 e < 22kg/m²</td>
                        <td>Peso adequado</td>
                    </tr>
                    <tr>
                        <td> > 27kg/m²</td>
                        <td>Sobrepeso</td>
                    </tr>
                </tbody>
            </table>
    
            <p><strong>*</strong>Perda de peso não intencional é aquele emagrecimento que não aconteceu por decisão<br>
            própria. Caso isso ocorra, deve-se investigar as possíveis causas</p>
        </fieldset>

        <form>
            <span>
                <input type="submit">
            </span>
        </form>
    </body>
</html>
