<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/estiloHome.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/estiloDiagnos.css">
    <title>Dianósticos</title>
    <link rel="shortcut icon type" type="imagem/x-icon" href="../static/fotos/diagnostico2.png">
</head>
<body>
    <header>
        <div>
            <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
            <h2 id="tituLogo">Ministerio da Saúde</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Telefones Úteis</a></li>
                    <li><a href="#">Perfil</a>
                        <ul>
                            <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                            <li><a href="#">Ajuda e suporte</a></li>
                            <li><a href="#">Alterar Dados</a></li>
                            <li><a href="index.html">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <fieldset>
        <legend> Diagnósticos e internações prévios</legend>
        <p>Algum médico já falou que você tem alguma das doenças abaixo relacionadas?</p>
        <table>
            <thead>
                <tr>
                    <th colspan="2" rowspan="2">Condições de Saúde / Diagnósticos</th>
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                </tr>
                <tr>
                    <th>Ano de diagnóstico</th>
                    <th>Ano de diagnóstico</th>
                    <th>Ano de diagnóstico</th>
                    <th>Ano de diagnóstico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="11" id="vertical">Condições crônicas sensíveis à<br> atenção básica</th>
                </tr>
                <tr>
                    <td>Acidente vascular cerebral (AVC) ou derrame</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Anemia</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Asma</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Diabetes mellitus</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Doença arterial coronariana</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Doença pulmonaobstrutiva crônica (DPOC)</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Epilepsia</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Hipertensão arterial</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Insuficiência cardíaca</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Úlcera gastrointestinal</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <th rowspan="6" id="vertical">Condições<br>frequentes</th>
                </tr>
                <tr>
                    <td>Depressão</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Depressão</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Incontinência urinária</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Incontinência fecal</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td>Declínio cognitivo (Demência)</td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <th rowspan="6" id="vertical">Outras condições /<br>diagnósticos</th>
                </tr>
                <tr>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                <tr>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                    <td><textarea rows="3" cols="9"></textarea></td>
                </tr>
                
            </tbody>
        </table>
    </fieldset>

    <footer>
        <div>
            <div>
                <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
            </div>  
            
            <div id="equipe">
                <h6>Integrantes:</h6>
                <li>Filipe Serra Silva</li>
                <li>Cristina Alvéstegui Subieta</li>
                <li>Matheus Leopoldino dos Santos</li>
                <li>Francisco Pereira de Carvalho Neto</li>  
            </div>

            <div id="copyright">
                <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                <h6>Politica de Privacidade</h6>
            </div>
        </div>
    </footer>
    
</body>
</html>