<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Hábitos de Vida</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estilovida.css"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Battambang&display=swap" rel="stylesheet">
    </head>
    <header>

    </header>

    <body>
        <table>
            <thead>
                <tr>
                    <td colspan="2" rowspan="2"><strong>Identificação de hábitos de vida</strong></td>
                    
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                    <th class="widthano" colspan="2">20<input type="number" class="inpuAno"></th>
                </tr>
                <tr>
                    
                    <th>S</th>
                    <th>N</th>
                    <th>S</th>
                    <th>N</th>
                    <th>S</th>
                    <th>N</th>
                    <th>S</th>
                    <th>N</th>
                </tr>
            </thead>
            <tbody>
                <tr class="semfundo">
                    <th rowspan="4" id="lazer"><div>Interesse Social e Lazer</div></th>
                </tr>
                <tr>
                    <td> Você frequenta centro-dia, clubes ou grupos de convivência? </td>
                    <td><input type="radio" name="vida1" value="sim"></td>
                    <td><input type="radio" name="vida1" value="não"></td>
                    <td><input type="radio" name="vida2" value="sim"></td>
                    <td><input type="radio" name="vida2" value="não"></td>
                    <td><input type="radio" name="vida3" value="sim"></td>
                    <td><input type="radio" name="vida3" value="não"></td>
                    <td><input type="radio" name="vida4" value="sim"></td>
                    <td><input type="radio" name="vida4" value="não"></td>
                </tr>
                <tr>
                    <td> Você realiza algum trabalho voluntário?</td>
                    <td><input type="radio" name="vida5" value="sim"></td>
                    <td><input type="radio" name="vida5" value="não"></td>
                    <td><input type="radio" name="vida6" value="sim"></td>
                    <td><input type="radio" name="vida6" value="não"></td>
                    <td><input type="radio" name="vida7" value="sim"></td>
                    <td><input type="radio" name="vida7" value="não"></td>
                    <td><input type="radio" name="vida8" value="sim"></td>
                    <td><input type="radio" name="vida8" value="não"></td>
                </tr>
                <tr>
                    <td>Você tem alguma atividade de lazer?</td>
                    <td><input type="radio" name="vida9" value="sim"></td>
                    <td><input type="radio" name="vida9" value="não"></td>
                    <td><input type="radio" name="vida10" value="sim"></td>
                    <td><input type="radio" name="vida10" value="não"></td>
                    <td><input type="radio" name="vida11" value="sim"></td>
                    <td><input type="radio" name="vida11" value="não"></td>
                    <td><input type="radio" name="vida12" value="sim"></td>
                    <td><input type="radio" name="vida12" value="não"></td>
                </tr>
                <tr class="semfundo">
                    <th rowspan="3"><div>Atividade física </div><img class="fotostabelavida" src="../static/fotos/atividade.png"></th>
                </tr>
                <tr>
                    <td>Você practiva algum tipo de atividade física (como caminhadas, natação,
                    dança, ginástica ect.), pelo menos três vezes por semana?)</td>
                    <td><input type="radio" name="vida13" value="sim"></td>
                    <td><input type="radio" name="vida13" value="não"></td>
                    <td><input type="radio" name="vida14" value="sim"></td>
                    <td><input type="radio" name="vida14" value="não"></td>
                    <td><input type="radio" name="vida15" value="sim"></td>
                    <td><input type="radio" name="vida15" value="não"></td>
                    <td><input type="radio" name="vida16" value="sim"></td>
                    <td><input type="radio" name="vida16" value="não"></td>
                </tr>
                <tr>
                    <td>Você gostaria de começar algum programa de atividade física?</td>
                    <td><input type="radio" name="vida17" value="sim"></td>
                    <td><input type="radio" name="vida17" value="não"></td>
                    <td><input type="radio" name="vida18" value="sim"></td>
                    <td><input type="radio" name="vida18" value="não"></td>
                    <td><input type="radio" name="vida19" value="sim"></td>
                    <td><input type="radio" name="vida19" value="não"></td>
                    <td><input type="radio" name="vida20" value="sim"></td>
                    <td><input type="radio" name="vida20" value="não"></td>
                </tr>
                <tr class="semfundo">
                    <th rowspan="7"><div>Alimentação</div><img class="fotostabelavida" src="../static/fotos/alimentação.webp"></th>
                </tr>
                <tr>
                    <td>Você faz pelo menos três refeições por dia?</td>
                    <td><input type="radio" name="alimen1" value="sim"></td>
                    <td><input type="radio" name="alimen1" value="não"></td>
                    <td><input type="radio" name="alimen2" value="sim"></td>
                    <td><input type="radio" name="alimen2" value="não"></td>
                    <td><input type="radio" name="alimen3" value="sim"></td>
                    <td><input type="radio" name="alimen3" value="não"></td>
                    <td><input type="radio" name="alimen4" value="sim"></td>
                    <td><input type="radio" name="alimen4" value="não"></td>
                </tr>
                <tr>
                    <td>Você come frutas, legumes, verduras em suas refeições ao longo do dia?</td>
                    <td><input type="radio" name="vida25" value="sim"></td>
                    <td><input type="radio" name="vida25" value="não"></td>
                    <td><input type="radio" name="vida26" value="sim"></td>
                    <td><input type="radio" name="vida26" value="não"></td>
                    <td><input type="radio" name="vida27" value="sim"></td>
                    <td><input type="radio" name="vida27" value="não"></td>
                    <td><input type="radio" name="vida28" value="sim"></td>
                    <td><input type="radio" name="vida28" value="não"></td>
                </tr>
                <tr>
                    <td>Em pelo menos uma refeição diária, você come carnes, peixes ou ovos?</td>
                    <td><input type="radio" name="vida29" value="sim"></td>
                    <td><input type="radio" name="vida29" value="não"></td>
                    <td><input type="radio" name="vida30" value="sim"></td>
                    <td><input type="radio" name="vida30" value="não"></td>
                    <td><input type="radio" name="vida31" value="sim"></td>
                    <td><input type="radio" name="vida31" value="não"></td>
                    <td><input type="radio" name="vida32" value="sim"></td>
                    <td><input type="radio" name="vida32" value="não"></td>
                </tr>
                <tr>
                    <td>Você tem costume de consumir bebidas açucaradas, bolos, biscoitos recheados e sobremesas?</td>
                    <td><input type="radio" name="vida33" value="sim"></td>
                    <td><input type="radio" name="vida33" value="não"></td>
                    <td><input type="radio" name="vida34" value="sim"></td>
                    <td><input type="radio" name="vida34" value="não"></td>
                    <td><input type="radio" name="vida35" value="sim"></td>
                    <td><input type="radio" name="vida35" value="não"></td>
                    <td><input type="radio" name="vida36" value="sim"></td>
                    <td><input type="radio" name="vida36" value="não"></td>
                </tr>
                <tr>
                    <td>No preparo das suas refeições, é itulizada grande quantidade de óleos, gorduras, açucar e sal?</td>
                    <td><input type="radio" name="vida37" value="sim"></td>
                    <td><input type="radio" name="vida37" value="não"></td>
                    <td><input type="radio" name="vida38" value="sim"></td>
                    <td><input type="radio" name="vida38" value="não"></td>
                    <td><input type="radio" name="vida39" value="sim"></td>
                    <td><input type="radio" name="vida39" value="não"></td>
                    <td><input type="radio" name="vida40" value="sim"></td>
                    <td><input type="radio" name="vida40" value="não"></td>
                </tr>
                <tr>
                    <td>Na sua rotina diária, você inclui a ingestão de água?</td>
                    <td><input type="radio" name="vida41" value="sim"></td>
                    <td><input type="radio" name="vida41" value="não"></td>
                    <td><input type="radio" name="vida42" value="sim"></td>
                    <td><input type="radio" name="vida42" value="não"></td>
                    <td><input type="radio" name="vida43" value="sim"></td>
                    <td><input type="radio" name="vida43" value="não"></td>
                    <td><input type="radio" name="vida44" value="sim"></td>
                    <td><input type="radio" name="vida44" value="não"></td>
                </tr>
                <tr class="semfundo">
                    <th rowspan="4"><div>Tabagismo</div><img class="fotostabelavida" src="../static/fotos/tagismo.jpg" ></th>
                </tr>
                <tr>
                    <td>Atualmente, você fuma algum produto do tabaco?</td>
                    <td><input type="radio" name="vida45" value="sim"></td>
                    <td><input type="radio" name="vida45" value="não"></td>
                    <td><input type="radio" name="vida46" value="sim"></td>
                    <td><input type="radio" name="vida46" value="não"></td>
                    <td><input type="radio" name="vida47" value="sim"></td>
                    <td><input type="radio" name="vida47" value="não"></td>
                    <td><input type="radio" name="vida48" value="sim"></td>
                    <td><input type="radio" name="vida48" value="não"></td>
                </tr>
                <tr>
                    <td>Você gostaria de para de fumar?</td>
                    <td><input type="radio" name="vida49" value="sim"></td>
                    <td><input type="radio" name="vida49" value="não"></td>
                    <td><input type="radio" name="vida50" value="sim"></td>
                    <td><input type="radio" name="vida50" value="não"></td>
                    <td><input type="radio" name="vida51" value="sim"></td>
                    <td><input type="radio" name="vida51" value="não"></td>
                    <td><input type="radio" name="vida52" value="sim"></td>
                    <td><input type="radio" name="vida52" value="não"></td>
                </tr>
                <tr>
                    <td>Você é ex-fumante?</td>
                    <td><input type="radio" name="vida53" value="sim"></td>
                    <td><input type="radio" name="vida53" value="não"></td>
                    <td><input type="radio" name="vida54" value="sim"></td>
                    <td><input type="radio" name="vida54" value="não"></td>
                    <td><input type="radio" name="vida55" value="sim"></td>
                    <td><input type="radio" name="vida55" value="não"></td>
                    <td><input type="radio" name="vida56" value="sim"></td>
                    <td><input type="radio" name="vida56" value="não"></td>
                </tr>
                <tr class="semfundo">
                    <th rowspan="6"><div>Álcool</div><img class="fotostabelavida" src="../static/fotos/drinks.jpeg"></th>
                </tr>
                <tr>
                    <td>Você consome bebida alcoólica?</td>
                    <td><input type="radio" name="vida57" value="sim"></td>
                    <td><input type="radio" name="vida57" value="não"></td>
                    <td><input type="radio" name="vida58" value="sim"></td>
                    <td><input type="radio" name="vida58" value="não"></td>
                    <td><input type="radio" name="vida59" value="sim"></td>
                    <td><input type="radio" name="vida59" value="não"></td>
                    <td><input type="radio" name="vida60" value="sim"></td>
                    <td><input type="radio" name="vida60" value="não"></td>
                </tr>
                <tr>
                    <td>Você já sentiu a necessidade de reduzir ou suspender o álcool?</td>
                    <td><input type="radio" name="vida61" value="sim"></td>
                    <td><input type="radio" name="vida61" value="não"></td>
                    <td><input type="radio" name="vida62" value="sim"></td>
                    <td><input type="radio" name="vida62" value="não"></td>
                    <td><input type="radio" name="vida63" value="sim"></td>
                    <td><input type="radio" name="vida63" value="não"></td>
                    <td><input type="radio" name="vida64" value="sim"></td>
                    <td><input type="radio" name="vida64" value="não"></td>
                </tr>
                <tr>
                    <td>Alguém já criticou você por beber?</td>
                    <td><input type="radio" name="vida65" value="sim"></td>
                    <td><input type="radio" name="vida65" value="não"></td>
                    <td><input type="radio" name="vida66" value="sim"></td>
                    <td><input type="radio" name="vida66" value="não"></td>
                    <td><input type="radio" name="vida67" value="sim"></td>
                    <td><input type="radio" name="vida67" value="não"></td>
                    <td><input type="radio" name="vida68" value="sim"></td>
                    <td><input type="radio" name="vida68" value="não"></td>
                </tr>
                <tr>
                    <td>Sente-se cupado(a) por beber?</td>
                    <td><input type="radio" name="vida69" value="sim"></td>
                    <td><input type="radio" name="vida69" value="não"></td>
                    <td><input type="radio" name="vida70" value="sim"></td>
                    <td><input type="radio" name="vida70" value="não"></td>
                    <td><input type="radio" name="vida71" value="sim"></td>
                    <td><input type="radio" name="vida71" value="não"></td>
                    <td><input type="radio" name="vida72" value="sim"></td>
                    <td><input type="radio" name="vida72" value="não"></td>
                </tr>
                <tr>
                    <td>Costuma beber logo pela manhã?</td>
                    <td><input type="radio" name="vida73" value="sim"></td>
                    <td><input type="radio" name="vida73" value="não"></td>
                    <td><input type="radio" name="vida74" value="sim"></td>
                    <td><input type="radio" name="vida74" value="não"></td>
                    <td><input type="radio" name="vida75" value="sim"></td>
                    <td><input type="radio" name="vida75" value="não"></td>
                    <td><input type="radio" name="vida76" value="sim"></td>
                    <td><input type="radio" name="vida76" value="não"></td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
