<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset = "UTF-8"/>
        <title>Home</title> 
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloHome.css">
    </head>

    <body>
        <legend><h1>Bem vindo!</h1></legend>
        <h4>Acesse as opções abaixo para prosseguir com os cadastros restantes e mais!</h3>

       <div class="grid-container">
            <div class="itemss" id="item1"><a href="/avalIdoso.html"><img class="fotoss" src="../static/fotos/avalicao.png" alt="avaliaçãoes idoso"><h4>Avaliações</h4> </a></div>
            <div class="itemss" id="item2"><a href="/pessoaRef.html"><img class="fotoss" src="../static/fotos/responsavel.jpg" alt="responsavel"><h4>Cadastrar Responsavel </h4></a></div>
            <div class="itemss" id="item3"><a href=""><img class="fotoss" src="../static/fotos/diagnostico.jpg" alt="diagnostico"><h4>Diagnosticos</h4></a></div>
            <div class="itemss" id="item4"><a href="/cirurgia.html"><img class="fotoss" src="../static/fotos/Cirugias.png" alt="cirugias"><h4>Cirurgias</h4> </a></div>
            <div class="itemss" id="item5"><a href="/alergias.html"><img class="fotoss" src="../static/fotos/alergias.png" alt="alergias"><h4>Alergias</h4> </a></div>
            <div class="itemss" id="item6"><a href="/antropometricos.html"><img class="fotoss" src="../static/fotos/Antropométrico 1.jfif" alt="Antropometricos"><h4>Antropomêtricos</h4> </a></div>
            <div class="itemss" id="item7"><a href="/controlePeso.html"><img class="fotoss" width="300" src="../static/fotos/peso.jfif" alt="pesoidosos"><h4>Controle de Peso</h4></a></div>
            <div class="itemss" id="item8"><a href="/cadastroVES.html"><img class="fotoss" width="300" src="../static/fotos/vulneravel.jpg" alt="vulneravel"><h4>VES13</h4></a></div>
            <div class="itemss" id="item9"><a href="/complementar.html"><img class="fotoss" src="../static/fotos/cognicao.jpg" alt="Cognição"><h4>Complementares</h4></a></div>
            <div class="itemss" id="item10"><a href="/ambiental.html"><img class="fotoss" src="../static/fotos/seguracaidoso.png" alt="Avalição Ambiental"><h4>Avaliação Ambiental</h4></a></div>
            <div class="itemss" id="item11"><a href=""><img class="fotoss" src="../static/fotos/Queda-da-propria-altura.jpg" alt="Quedas"><h4>Quedas</h4></a></div>
            <div class="itemss" id="item12"><a href="/dorCronica.html"><img class="fotoss" width="300" src="../static/fotos/dores.jpg" alt="dores crônicas"><h4>Dores Crônicas</h4></a></div>
            <div class="itemss" id="item13"><a href="/habitosVida.html"><img class="fotoss" src="../static/fotos/vida.jfif" alt="hábitosdevida"><h4>Hábitos de Vida</h4></a></div>
            <div class="itemss" id="item14"><a href="/cntrlPressaoArterial.html"><img class="fotoss" width="300" src="../static/fotos/arterial.jpg" alt="arterial"><h4>Pressão Arterial</h4></a></div>
            <div class="itemss" id="item15"> <a href="/cntrlGlicemia.html"><img class="fotoss" width="300" src="../static/fotos/glicose.png" alt="Glicemia"><h4>Controlar Glicemia</h4></a></div>
            <div class="itemss" id="item16"><a href="/vacinacao.html"><img class="fotoss" src="../static/fotos/vacina.jpg" alt="vacinas"><h4>Vacinação</h4></a></div>
            <div class="itemss" id="item17"><a href="/saudeBucal.html"><img class="fotoss" src="../static/fotos/dental.jpg" alt="dentes"><h4>Saúde Bucal</h4></a></div>
            <div class="itemss" id="item18"><a href=""><img class="fotoss" src="../static/fotos/agenda2.jpg" alt="Agenda e Consultas"><h4>Agenda de Consulta e Exames</h4> </a></div>
            <div class="itemss" id="item19"><a href=""><img class="fotoss" src="../static/fotos/historico.jpg" alt="historico do pasciente"><h4>Historico de Atualizações</h4></a></div>
        </div>    

    </body>


</html>
