<!DOCTYPE html>
<HTML lang="pt-BR">

    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloPessoaRef.css">
    </head>

    <header>
        <div>
            <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
            <h2 id="tituLogo">Ministerio da Saúde</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Telefones Úteis</a></li>
                    <li><a href="#">Perfil</a>
                        <ul>
                            <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                            <li><a href="#">Ajuda e suporte</a></li>
                            <li><a href="#">Alterar Dados</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <h1>Pessoas de Referência/Responsável</h1>
        <p>Informe os dados de pessoas que possam ser contatadas em caso de urgência.</p>
           
        <fieldset>
            <legend>Pessoa de referência 1</legend>
            <form>
                <label>Nome</label><br>
                <input type="text" name="name" id /><br>
                <label>Data de nascimento</label><br>
                <input type="date" Data de nascimento="Data de nascimento" id /><br>
                <label>Vínculo</label><br>
                <input type="text" Vínculo="Vínculo" id /><br>
                <label>Endereço</label><br>
                <input type="text" Endereço="Endereço" id /><br>
                <label>Telefone</label><br>
                <input type="text" Telefone="Telefone" id /><br>
                <label>Celular</label><br>
                <input type="text" Celular="Celular" id /><br>
                <label>Esta pessoa mora com você?</label><br>
                <input type="radio" name="sim/nao">Sim <input type="radio" name="sim/nao"> Não <br>
                <label>Data dessa informação</label><br>
                <input type="date">
                <br><br>
                <input type="checkbox"> Não possuo pessoa de referência.</label>  <br><br> 

                <button type="button">Cadastrar Dados</button><br><br>
            </form>
        </fieldset><br>

        <fieldset>
            <legend>Pessoa de referência 2</legend>
            <form>
                <label>Nome</label><br>
                <input type="text" name="name" id /><br>
                <label>Data de nascimento</label><br>
                <input type="date" Data de nascimento="Data de nascimento" id /><br>
                <label>Vínculo</label><br>
                <input type="text" Vínculo="Vínculo" id /><br>
                <label>Endereço</label><br>
                <input type="text" Endereço="Endereço" id /><br>
                <label>Telefone</label><br>
                <input type="text" Telefone="Telefone" id /><br>
                <label>Celular</label><br>
                <input type="text" Celular="Celular" id /><br>
                <label>Esta pessoa mora com você?</label><br>
                <input type="radio" name="sim/nao">Sim <input type="radio" name="sim/nao"> Não <br>
                <label>Data dessa informação</label><br>
                <input type="date">
                <br><br>
                <input type="checkbox"> Não possuo pessoa de referência.</label> <br><br>
                
                <button type="button">Cadastrar Dados</button><br><br>
            </form>
        </fieldset>

        <footer>
            <div>
                <div>
                    <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
                </div>  
                
                <div id="equipe">
                    <h6>Integrantes:</h6>
                    <li>Filipe Serra Silva</li>
                    <li>Cristina Alvéstegui Subieta</li>
                    <li>Matheus Leopoldino dos Santos</li>
                    <li>Francisco Pereira de Carvalho Neto</li>  
                </div>
    
                <div id="copyright">
                    <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                    <h6>Politica de Privacidade</h6>
                </div>
            </div>
        </footer>
    </body>
</HTML>
