<!DOCTYPE html>
<HTML lang="pt-BR">

    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../CSS/estiloPessoaRef.css">
    </head>
    <body>
        <h1>Pessoas de Referência/Responsável</h1>
        <p>Informe os dados de pessoas que possam ser contatadas em caso de urgência.</p>
           
        <fieldset>
            <legend><h3> Pessoa de referência 1 </h3></legend>
            <form>
                <label>Nome</label><br>
                <input type="text" name="name" id /><br>
                <label>Data de nascimento</label><br>
                <input type="date" Data de nascimento="Data de nascimento" id /><br>
                <label>Vínculo</label><br>
                <input type="text" Vínculo="Vínculo" id /><br>
                <label>Endereço</label><br>
                <input type="text" Endereço="Endereço" id /><br>
                <label>Telefone</label><br>
                <input type="text" Telefone="Telefone" id /><br>
                <label>Celular</label><br>
                <input type="text" Celular="Celular" id /><br>
                <label>Esta pessoa mora com você?</label><br>
                <input type="radio" name="sim/nao">Sim <input type="radio" name="sim/nao"> Não <br>
                <label>Data dessa informação</label><br>
                <input type="date">
                <br><br>
                <input type="checkbox"> Não possuo pessoa de referência.</label>  <br><br> 

                <button type="button">Cadastrar Dados</button><br><br>
            </form>
                
        </fieldset><br>

        <fieldset>
            <legend><h3> Pessoa de referência 2 </h3></legend>
            <form>
                <label>Nome</label><br>
                <input type="text" name="name" id /><br>
                <label>Data de nascimento</label><br>
                <input type="date" Data de nascimento="Data de nascimento" id /><br>
                <label>Vínculo</label><br>
                <input type="text" Vínculo="Vínculo" id /><br>
                <label>Endereço</label><br>
                <input type="text" Endereço="Endereço" id /><br>
                <label>Telefone</label><br>
                <input type="text" Telefone="Telefone" id /><br>
                <label>Celular</label><br>
                <input type="text" Celular="Celular" id /><br>
                <label>Esta pessoa mora com você?</label><br>
                <input type="radio" name="sim/nao">Sim <input type="radio" name="sim/nao"> Não <br>
                <label>Data dessa informação</label><br>
                <input type="date">
                <br><br>
                <input type="checkbox"> Não possuo pessoa de referência.</label> <br><br>
                
                <button type="button">Cadastrar Dados</button><br><br>
            </form>
                
        </fieldset>
  
    </body>
</HTML>


