<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/CSS/estiloBucal.css">
        <title>Saude Bucal</title>
    </head>
    <body>
        <fieldset>
            <legend>Avaliação de Saúde Bucal</legend>
            <table>
                <thead>
                    <tr>
                        <th colspan="3" rowspan="2">Avaliação da Equipe de Saúde Bucal</th>                   
                        <form>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                        </form>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th rowspan="3">Hábitos</th>
                    </tr>

                    <tr>
                        <td>Álcool</td>
                        <td></td>
                
                        <form>
                            <td><input type="radio" value="sim" name="alcool"></td>
                            <td><input type="radio" value="nao" name="alcool"></td>

                            <td><input type="radio" value="sim" name="alcool2"></td>
                            <td><input type="radio" value="nao" name="alcool2"></td>

                            <td><input type="radio" value="sim" name="alcool3"></td>
                            <td><input type="radio" value="nao" name="alcool3"></td>

                            <td><input type="radio" value="sim" name="alcool4"></td>
                            <td><input type="radio" value="nao" name="alcool4"></td>
                        </form>  
                    </tr>
                    <tr>
                        <td>Fumo</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <th rowspan="6">Alterações ou Lesões de mucosa</th>
                    </tr>

                    <tr>
                        <td>Presença de lesão na mucosa bucal</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>Boca seca(xerostima - falha de saliva)</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>Presença de língua saburrosa(língua branca)</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>Presença de candidíase bucal</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <td>Presença de halitose</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>  
                    </tr>

                    <tr>
                        <th rowspan="7">Cárie dentária e doença periodontal</th>
                    </tr>

                    <tr>
                        <td>Presença de placa bacteriana(biofilme dental)</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Fatores retentivos de placa(raizes residuais, cálculo)</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Presença evidente de gengivite/sangramento gengival</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Presença evidente de periodontite/perda óssea</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Presença de cárie</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Perda dental no último ano</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <th rowspan="12">Prótese dentária superior</th>
                    </tr>

                    <tr>
                        <th rowspan="6">Prótese total(dentadura)</td>
                    </tr>

                    <tr>
                        <td>Não utiliza e não necesita</td>
                        
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form> 
                    </tr>

                    <tr>
                        
                        <td>Não utiliza, mas necesita</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza-Adaptada/sem necessidade de troca</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza-Não Adaptada/necessidade de troca</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utliza - Adaptada/sem necessidade de troca</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <th rowspan="6">Prótese parcial(ponte móvel)</td>
                    </tr>

                    <tr>
                        <td>Não utiliza e não necesita</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form> 
                    </tr>
                   
                    <tr>
                        <td>Não utiliza, mas necesita</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza - Adaptada/sem necessidade de troca</td>
                        
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utliza - Não Adaptada/necessidade de troca</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <th rowspan="11">Prótese dentária inferior</th>
                    </tr>

                    <tr>
                        <th rowspan="5">Prótese total(dentadura)</td>
                    </tr>

                    <tr>
                        <td>Não utiliza e não necesita</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form> 
                    </tr>
                   
                    <tr>

                        <td>Não utiliza, mas necesita</td>
                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza - Adaptada/sem necessidade de troca</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza - Não adaptada/necessidade de troca</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <th rowspan="5">Prótese parcial(ponte móvel)</td>
                    </tr>

                    <tr>
                        <td>Não utiliza e não necesita</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>

                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>

                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form> 
                    </tr>
                   
                    <tr>
                        <td>Não utiliza, mas necesita</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza - Adaptada/sem necessidade de troca</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Utiliza - Não adaptada/necessidade de troca</td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>
            
                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <th rowspan="3">Consulta Clínica (equipe de saíude bucal)</th>
                    </tr>

                    <tr>
                        <td>Atendimento na unidade de saúde</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>

                    <tr>
                        <td>Atendimento no domicílio</td>
                        <td></td>

                        <form>
                            <td><input type="radio" value="sim" name="alcool5"></td>
                            <td><input type="radio" value="nao" name="alcool5"></td>
            
                            <td><input type="radio" value="sim" name="alcool7"></td>
                            <td><input type="radio" value="nao" name="alcool7"></td>
            
                            <td><input type="radio" value="sim" name="alcool8"></td>
                            <td><input type="radio" value="nao" name="alcool8"></td>

                            <td><input type="radio" value="sim" name="alcool9"></td>
                            <td><input type="radio" value="nao" name="alcool9"></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <span>
            <input type="submit">
        </span>

        <fieldset>
            <table>  
                <thead>
                    <tr>
                        <th colspan="3" rowspan="2">Avaliação da Equipe de Saúde Bucal</th>                   
                        <form>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                            <th colspan="2">20<input type="number"></th>
                        </form>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>

                        <th>S</th>
                        <th>N</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Encaminhamento para<br> especialidades odontológicas</th>
                        <td>(D)Diagnóstico bucal;(P)Periodontio;<br>(E)endodontia;(C)cirurgia;<br>
                        (PCD)pessoa com deficiência;<br>(O)outras especialidades.</td>
                        <td></td>
                            <form>
                    
                                <td><input type="radio" value="sim" name="alcool5"></td>
                                <td><input type="radio" value="nao" name="alcool5"></td>
                
                                <td><input type="radio" value="sim" name="alcool7"></td>
                                <td><input type="radio" value="nao" name="alcool7"></td>
                
                                <td><input type="radio" value="sim" name="alcool8"></td>
                                <td><input type="radio" value="nao" name="alcool8"></td>
    
                                <td><input type="radio" value="sim" name="alcool9"></td>
                                <td><input type="radio" value="nao" name="alcool9"></td>
                            </form>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        
        <span>
            <input type="submit">
        </span>
        
    </body>
</html>
