<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vacinação</title>
    </head>
    <body>
        <fieldset>
            <legend><h3>5. CALENDÁRIO DE VACINAÇÃO</h3></legend>
            <h4>A vacinação é importante para a prevenção de doenças que apresentam alto risco de complicações nas pessoas idosas. Procure manter seu calendário de vacinação em dia. Busque sua unidade de saúde para mais informações.</h4>
            
            <table>
                <thead>
                    <tr>
                        <th>INFLUENZA (Gripe)</th>
                    </Tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <form>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                        </form>
                    </tr>

                    <tr>
                        <th>Lote</th>
                        <form>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                        </form>  
                    </tr>

                    <tr>
                        <th>Ass.</th>
                        <form>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                            <td><input type="text" name="Lote"/></td>
                        </form>
                    </tr>
                </tbody>
            </table>
            
            <table>
                <thead>
                    <tr>
                        <th>INFLUENZA (Gripe)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Data</th>
                        <form>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                            <td><input type="date" name="Data"/></td>
                        </form>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <form>
                            <input type="date" name="Lote" id/>
                            <input type="date" name="Lote" id/>
                            <input type="date" name="Lote" id/>
                            <input type="date" name="Lote" id/>
                        </form>
                    </tr>

                    <tr>
                        <th>Ass.</th>
                        <form>
                            <input type="date" name="Ass" id/>
                            <input type="date" name="Ass" id/>
                            <input type="date" name="Ass" id/>
                            <input type="date" name="Ass" id/>
                        </form>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th>Dupla Tipo Adulto (dT)</th>
                    </tr>
                    <tr>
                        <td></td>
                        <th>1ra Dose</th>
                        <th>2da Dose</th>
                        <th>3ra Dose</th>
                        <th>Reforço</th>
                    </tr>
                </thead>
            </table>
        </fieldset>   
    </body>
<html