<HTML lang="pt-BR">
<html>
    <head>
        <title>Vacinação</title>
        <meta charset="UTF-8"/>
        <link rel="shortcut icon type" type="imagem/x-icon" href="../static/fotos/seringa.png">
        <link type="text/css" rel="stylesheet" href="../static/CSS/estiloVacina.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    </head>
    
     <header>
        <div>
            <img id="logo" height="80" src="../static/fotos/logo.png" lat="icone do logo saude">
            <h2 id="tituLogo">Ministerio da Saúde</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Telefones Úteis</a></li>
                    <li><a href="#">Perfil</a>
                        <ul>
                            <li id="conEpri"><a href="#">Exibir Perfil</a></li>
                            <li><a href="#">Ajuda e suporte</a></li>
                            <li><a href="#">Alterar Dados</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <body>
        <fieldset>
            <legend>Calendário de Vacinação</legend>
            <h4>A vacinação é importante para a prevenção de doenças que apresentam alto risco de complicações nas pessoas idosas. 
            Procure manter seu calendário de vacinação em dia. Busque sua unidade de saúde para mais informações.</h4>
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Influenza (Gripe)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                    
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Influenza (Gripe)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                    
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Dupla Tipo Adulto(dT)</th>
                    </tr>
                    <tr>
                        <td class="branco"></td>
                        <th>1ª Dose</th>
                        <th>2ª Dose</th>
                        <th>3ª Dose</th>
                        <th>Reforço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th>Antipneumocócica</th>
                        <td class="branco"></td>
                        <td class="branco"></td>
                        <th colspan="2">Outras vacinas:<input type="text"></th>
                    </tr>
                    <tr>
                        <td class="branco"></td>
                        <th>1ª Dose</th>
                        <th>Reforço</th>
                        <td class="branco"></td>
                        <td class="branco"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                </tbody>
            </table><br>
        </fieldset>
        
        <span>
            <input type="submit">
        </span>

        <div id="textoVacina">
            <h3 id="tituloVacina">Periodicidade indicada das vacinas</h3>
            <p><strong>- contra Influenza (Gripe)</strong>: a cada ano<br><br>
            <strong>- contra difteria e tétano (dupla adulto)</strong>: a cada 10 anos<br><br>
            <strong> - contra pneumonia causada por pneumococo:</strong>por recomendação
            do profissional de saúde <br><br><br><!--Aqui devemos dividir em colunas--> 
            <strong>- contra febre amarela:</strong>Dose única. Uma dose de vacina (0,5ml) ao longo da vida, para residentes
            das áreas com recomendação de vacinação em todo o país ou quando for viajar para as áreas afetadas.
            No caso das pessoas idosas é indicado realizar avaliação prévia por profissional de saúde, sobre a
            indicaçõ da vacina
            </p>
        </div>
    </body>
    
    <footer>
        <div>
            <div>
                <h5 id="ti13n">Desenvolvido por:</h5><p>Grupo 2 da turma TI13N</p>
            </div>  
            
            <div id="equipe">
                <h6>Integrantes:</h6>
                <li>Filipe Serra Silva</li>
                <li>Cristina Alvéstegui Subieta</li>
                <li>Matheus Leopoldino dos Santos</li>
                <li>Francisco Pereira de Carvalho Neto</li>  
            </div>

            <div id="copyright">
                <h6>CopyRight &copy; 2022. Todos os Direitos Reservados</h6>
                <h6>Politica de Privacidade</h6>
            </div>
        </div>
    </footer>
</html>
