<HTML lang="pt-BR">
<html>
    <head>
        <title>Vacinação</title>
        <meta charset="UTF-8"/>
        <link type="text/css" rel="stylesheet" href="../CSS/estiloVacina.css">
    </head>
    <body>
        <fieldset>
            <legend>Calendário de Vacinação</legend>
            <h4>A vacinação é importante para a prevenção de doenças que apresentam alto risco de complicações nas pessoas idosas. 
            Procure manter seu calendário de vacinação em dia. Busque sua unidade de saúde para mais informações.</h4>
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Influenza (Gripe)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                    
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Influenza (Gripe)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                    
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Dupla Tipo Adulto(dT)</th>
                    </tr>
                    <tr>
                        <td class="branco"></td>
                        <th>1ª Dose</th>
                        <th>2ª Dose</th>
                        <th>3ª Dose</th>
                        <th>Reforço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                </tbody>
            </table><br>

            <table>
                <thead>
                    <tr>
                        <th>Antipneumocócica</th>
                        <td class="branco"></td>
                        <td class="branco"></td>
                        <th colspan="2">Outras vacinas:<input type="text"></th>
                    </tr>
                    <tr>
                        <td class="branco"></td>
                        <th>1ª Dose</th>
                        <th>Reforço</th>
                        <td class="branco"></td>
                        <td class="branco"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Data</th>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                        <td><input type="date" name="Data"/></td>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                        <td><input type="text" name="Lote"/></td>
                    </tr>
                    <tr>
                        <th>Ass.</th>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                        <td><input type="text" name="ass."></td>
                    </tr>
                </tbody>
            </table><br>
        </fieldset>
        <div>
            <h3>Periodicidade indicada das vacinas</h3>
            <p><strong>- contra Influenza (Gripe)</strong>: a cada ano<br>
            <strong>- contra difteria e tétano (dupla adulto)</strong>: a cada 10 anos<br>
            <strong> - contra pneumonia causada por pneumococo:</strong>por recomendação
            do profissional de saúde <br><!--Aqui devemos dividir em colunas--> 
            <strong>- contra febre amarela:</strong>Dose única. Uma dose de vacina (0,5ml) ao longo da vida, para residentes
            das áreas com recomendação de vacinação em todo o país ou quando for viajar para as áreas afetadas.
            No caso das pessoas idosas é indicado realizar avaliação prévia por profissional de saúde, sobre a
            indicaçõ da vacina
            </p>
        </div>
    </body>
</html>
